/* -----------------------------------*/
/* --------->>> General <<<-----------*/
/* -----------------------------------*/

body{
    font-family: 'Raleway', sans-serif;
}


/* -----------------------------------*/
/* --------->>> hero image <<<--------*/
/* -----------------------------------*/

.hero{
    height: 100vh;
    background: url(../img/hero5.jpg) no-repeat fixed;
    background-size: cover;
}

.hero-text{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 18em;
}

.hero-title{
    font-family: 'Pacifico', cursive;
    font-size: 90px;
    color: #ffffff;
    margin-bottom: 0.5em;
}

.hero-link{
    display: block;
    width: 250px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 22px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 4px 12px;
    background-color: rgba(40,40,40,0.5);
    transition: all 0.3s ease-in-out;
}

.hero-link:hover{
    color: #000000;
    background: #ffffff;
    text-decoration: none;
}

/* -----------------------------------*/
/* ------->>> custom navbar <<<-------*/
/* -----------------------------------*/
.navbar-default {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.navbar-brand{
    line-height: 60px;
    height: 64px;
    padding-top: 6px;
}

.nav.navbar-nav.navbar-right li a{
    color: #ffffff;
    font-weight: 400;
    line-height: 80px;
    height: 64px;
    padding-top: 0;
}

.nav.navbar-nav.navbar-right li a:hover {
    border-bottom: 1px solid #ffffff;
}

/* -----------------------------------*/
/* --------->>> sections <<<----------*/
/* -----------------------------------*/

.section-content{
    padding-top: 50px;
}

/* -----------------------------------*/
/* ------------>>> over <<<-----------*/
/* -----------------------------------*/

.box{
    margin-top: 1em;
    margin-bottom: 4em;
}

.box:hover .over-icon{
    color: #4CAF50;
}

.boxes{
    margin-top: 3em;
}

.over-box{
    text-align: center;
}

.over-icon{
    font-size: 42px;
    margin-bottom: 2em;
    transition: all 0.3s ease-in-out;
}

/* -----------------------------------*/
/* ----------->>> Team <<<------------*/
/* -----------------------------------*/

.team-box{
    text-align: center;
}

.profile-pic{
    width: 100px;
    height: 100px;
    display: inline-block;
}


/* -----------------------------------*/
/* ---------->>> counter <<<----------*/
/* -----------------------------------*/

#counter{
    background: url(../img/hero.jpg) no-repeat fixed;
    height: 200px;
    background-size: cover;
}

.counter-box{
    text-align: center;
    color: #ffffff;
    height: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.counter-number{
    font-size: 60px;
}

/* -----------------------------------*/
/* ---------->>> contact <<<----------*/
/* -----------------------------------*/

#contact{
    margin-bottom: 40px;
}

.icon-contact{
    font-size: 40px;
    margin-top: 22px;
}

.social-link{
    color: #000000;
    font-size: 25px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.contact-send{
    width: 100%;
    background-color: #323232;
    color: #ffffff;
    padding: 6px 8px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.contact-send:hover{
    background-color: grey;
    color: #ffffff;
    text-decoration: none;
}

/* -----------------------------------*/
/* --------->>> portfolio <<<---------*/
/* -----------------------------------*/

#portfolio{
    padding-bottom: 3em;
}

.project{
    background-color: #323232;
    color: #ffffff;
    padding: 6px 8px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2em;
}

.project:hover{
    background-color: grey;
    color: #ffffff;
    cursor: pointer;
}

.overlay {
    background: rgba(62,70,81,0.8);
    width: 100%;
    height: 100%;
    z-index: 2000;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.is-open{
    opacity: 1;
    pointer-events: auto;
}

.is-open .modal-box{
    transform: translate(0px, 0px);
}

.modal-box{
    transform: translate(0px, -100px);
    transition: all 0.5s cubic-bezier(0.62, 0.17, 0.1, 1.75);
    max-width: 600px;
    background: white;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    position: relative;
    color: #000000;
}

.text-box{
    max-width: 60%;
}

.graphic {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-size: contain;
}


.close-btn{
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 25px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.close-btn:hover{
    transform: scale(1.2);
}

.lead{
    font-size: 30px;
}


/* -----------------------------------*/
/* ------------>>> map <<<------------*/
/* -----------------------------------*/

#map{
    height: 400px;
}

#map1 {
    width: 100%;
    height: 100%;
    position: relative;
}

#map2{
    width: 100%;
    height: 100%;
    position: relative;
}


/* -----------------------------------*/
/* ----------->>> footer <<<----------*/
/* -----------------------------------*/

.footer{
    background-color: #f7f7f7;
    color: #323232;
    position: relative;
    width: 100%;
    display: block;
    padding-top: 40px;
}

.mb-60{
    margin-bottom: 30px;
}

.footer-logo{
    margin-top: 30px;
}

.footer ul{
    list-style: none;
    padding: 0px;
    color: #323232;
    margin-top: 0.8em;
}

.footer-title{
    border-bottom: 1px dashed;
    margin-bottom: 25px;
}

.footer a{
    color: #323232;
    text-decoration: none;
}

.footer a:hover{
    color: grey;
}

.copyright{
    text-align: center;
    margin-bottom: 15px;
}

/* -----------------------------------*/
/* --------->>> hero page <<<---------*/
/* -----------------------------------*/

.hero-page-it{
    height: 400px;
    width: 100%;
    background: url(../img/it.jpg) no-repeat fixed;
    background-size: cover;
}

.hero-page-comm{
    height: 400px;
    width: 100%;
    background: url(../img/comm.jpg) no-repeat fixed;
    background-size: cover;
}

.hero-page-hotspot{
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.hero-page-contact{
    height: 400px;
    width: 100%;
    background: url(../img/contact.jpg) no-repeat fixed;
    background-size: cover;
}

.hero-text-page{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 9em;
}

.hero-title-page{
    font-size: 90px;
    color: #ffffff;
}

.hero-info-page{
    background: rgba(255,255,255,0.9);
    padding: 6px 12px;
    display: inline-block;
    color: #323232;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 3px;
}

#bgvid {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(../img/hotspotposter.jpg) no-repeat center center;
    background-size: contain;
}

#hotspot{
    margin-top: 50px;
    margin-bottom: 30px;
}


/* -----------------------------------*/
/* ------->>> Media queries <<<-------*/
/* -----------------------------------*/
@media (max-width: 991px){
    #counter{
        height: 300px;
    }

    .counter-box{
        margin-bottom: 1.5em;
    }
}

@media (max-width: 767px){
    #counter{
        height: 580px;
    }

    .counter-box{
        margin-bottom: 2em;
    }
}